:root {
    --rgba-light-1:rgba(255,255,255,.1);
    --rgba-light-2:rgba(255,255,255,.2);
    --rgba-light-3:rgba(255,255,255,.3);
    --rgba-light-4:rgba(255,255,255,.4);
    --rgba-light-5:rgba(255,255,255,.5);

    --rgba-dark-1:rgba(0,0,0,.1);
    --rgba-dark-2:rgba(0,0,0,.2);
    --rgba-dark-3:rgba(0,0,0,.3);
    --rgba-dark-4:rgba(0,0,0,.4);
    --rgba-dark-5:rgba(0,0,0,.5);

    --rgba-dark-subtle-1:rgba(0,0,0,.025);
    --rgba-dark-subtle-2:rgba(0,0,0,.050);
    --rgba-dark-subtle-3:rgba(0,0,0,.075);

    --color-light-1:#fff;
    --color-light-2:#dfdfdf;
    --color-light-3:#cacaca;

    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --border-radius-3: 1rem;

    --gap-size-1: .1rem;
    --gap-size-2: .25rem;
    --gap-size-3: .5rem;
    --gap-size-5: .75rem;
    --gap-size-6: .1rem;
}

.App-header {
    background:#000;
    background-image: linear-gradient(to right top, rgba(5, 25, 55, .6), rgba(0, 77, 122, .6), rgba(0, 135, 147, .6), rgba(0, 191, 114, .6), rgba(168, 235, 18, .6));
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}