:root {
    --rgba-light-1:rgba(255,255,255,.1);
    --rgba-light-2:rgba(255,255,255,.2);
    --rgba-light-3:rgba(255,255,255,.3);

    --rgba-dark-1:rgba(0,0,0,.1);
    --rgba-dark-2:rgba(0,0,0,.2);
    --rgba-dark-3:rgba(0,0,0,.3);

    --rgba-dark-subtle-1:rgba(0,0,0,.025);
    --rgba-dark-subtle-2:rgba(0,0,0,.050);
    --rgba-dark-subtle-3:rgba(0,0,0,.075);

    --color-light-1:#fff;
    --color-light-2:#dfdfdf;
    --color-light-3:#cacaca;

    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --border-radius-3: 1rem;
}

.Post-poll { 
    border-top: 1px solid var(--rgba-dark-3); 
    margin-top: 3rem; 
}

.DiscussionOverview { 
    margin-top: 3rem !important; 
}

.Post-body { 
    padding: 1rem;
    background: var(--rgba-dark-subtle-3);
    border-radius: .25rem;
    margin-bottom: 1rem;
}

button.Button.hidebutton.hasIcon {
    margin-right:0px !important;
}

.PollOptions {
    display:flex !important;
    gap:1rem !important;
}

.Post-body img[src*="#thumbnail"] {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.3rem;
}

[aria-label="Administrator*in"],
[aria-label="Manager*in"] {
    display:none;
}

.DiscussionListItem-badges li.item-poll {
    display:none;
}

.Avatar img {
    object-fit:cover;
}

.DiscussionOverview-list {
    padding: 1rem !important;
    justify-content: space-between;
}

.DiscussionOverview-list li {
    padding: 0px !important;
    font-size: 12px;
}

.DiscussionOverview-list li .time,
.DiscussionOverview-list li .number {
    font-size: inherit !important;
}

.DiscussionOverview-list li .user-list .Avatar,
.DiscussionOverview-list li .user-list a {
    margin: 0px !important;
}

.App-header {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

.App-header .Button,
.App-header .Button--link {
    --header-colored-control-color: #fff;
    color: var(--header-colored-control-color);
    background:var(--rgba-light-1) !important;
    border-radius:var(--border-radius-1);
    transition: .2s;
}

.App-header .Button:hover,
.App-header .Button--link:hover {
    background:var(--rgba-light-2) !important;
}

.App-header .FormControl {
    color: var(--color-light-2) !important;
    background:var(--rgba-light-1);
}

.App-header .Search-input,
.App-header .Search-input::placeholder {
    color: var(--color-light-3) !important;
}